<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <script src="jquery.js"></script>
    <script src="jquery.pagination.js"></script>
    <link rel="stylesheet" type="text/css" href="../pagination/common/reset.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../pagination/common/highlight.min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../pagination/common/common.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../pagination/pagination.css" media="screen">
    <title>Document</title>
</head>

<body>

    <h1>Express</h1>

    <hr>

    <div id="app">
        <%- partial('./form')  %>

        <% if (typeof(error) !== 'undefined' && error) { %>
            <%= error %>
         <% } else { %>
            <%- partial('./list', topic) %>
        <% } %>        
    </div>


</body>

</html>