<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <% if(typeof(error) != 'undefined' && error) { %>
        <div class="alterError">
            <%= error  %>
        </div>
    <% } %>
    <% if(typeof(success) != 'undefined' && success) { %>
        <div class="alterOK">
            <%= success  %>
        </div>
    <% } %>
    <h1>Express</h1>
    
    <hr>

    <%- partial('./form')  %>
    
    <%- partial('./list', topic) %>

    <script>
        var ul = document.getElementById('ul')
        sub.click = (callback) =>{
            setTimeout(() => {
                ul
                callback();
            })
        }
    </script>

</body>
</html>